.esqcima {
    background-color: red; 
    height: 50px; 
    width: 50px; 
    padding: 0; 
    margin: 0; 
}

.esqbaixo {
    background-color: green; 
    height: 50px; 
    width: 50px; 
    padding: 0; 
    margin: 0; 
}

.dircima {
    background-color: yellow; 
    height: 50px; 
    width: 50px;  
    padding: 0; 
    margin: 0; 
}

.dirbaixo {
    background-color: blue;
    height: 50px; 
    width: 50px; 
    padding: 0; 
    margin: 0; 
}
